body{
    background-color: blueviolet;
}

#btn01 {

    background-color: chartreuse;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    border: #ffffff 1px dashed;
}

.texto-centro {
    text-align: center;
    width: 100%;
}